.anyeditor {
  display: flex;
  height: 100%;
  overflow: auto;
  font-family: monospace;
  background: #242424;
  color: #fff;
  white-space: pre;
  outline: none;
  position: relative;
}

.anyeditor .buttons {
  position: sticky;
  left: 0;
  user-select: none;
  pointer-events: auto;
  text-align: center;
  background: inherit;
  min-width: 32px;
}
.anyeditor .buttons div {
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anyeditor .gutter {
  position: sticky;
  left: 32px;
  user-select: none;
  pointer-events: auto;
  background: inherit;
  min-width: 48px;
  text-align: center;
  color: #888;
}
.anyeditor .gutter .ln {
  background: inherit;
  min-width: 48px;
  max-width: 48px;
}

.anyeditor .code {
  flex: 1;
  /* padding-left: 10px; */
  font-size: 14px;
  line-height: 20px;
  outline: none;
}

.anyeditor .code div {
  line-height: 20px;
}

.has-error::after {
  content: attr(data-error);
  color: #ff6b6b;
  margin: 0px 0px 0px 3ch;
  border-radius: 4px;
  padding: 0 4px;
  vertical-align: middle;
  line-height: 1;
  display: inline-block; 
  position: relative;
  pointer-events: none;
}

.completion-box {
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 400px;
  position: absolute;
  z-index: 9999;
  border: 1px solid #555;
  max-height: 200px;
  overflow-y: auto;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 12px;
  cursor: pointer;
  background-color: #2424247a;
  padding: 2px 8px;
}

.completion-box .completion-item {
  padding: 2px 8px;
}

.completion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 8px; */
  /* font-size: 12px; */
}

.completion-kind {
  margin-left: auto;
  color: #aaa;
  font-size: 0.85em;
}

.completion-active {
  background-color: rgba(130, 130, 130, 0.33);
  border-radius: 10px;
}

/* .completion-item:hover {
  background-color: rgba(130, 130, 130, 0.151);
  border-radius: 10px;
} */